<html>
<!-- Adapted from the people.html UI design -->
<head>
	<title>Machines</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newMachine() {
		showform('insert');
	}

	function updateMachine(machineId) {
		showform('update');
	}

	function deleteMachine(machineId) {
		showform('delete');
	}

	function browseMachines() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseMachines()">
	<h1>Machines</h1> 
	
	[ <a href="machines">Machines</a> | <a href="locations">Locations</a> ]
	
	<p>&nbsp;</p>
	<div id="browse">
		<p><a href="#" onClick="newMachine()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_machines/{{item.machineId}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_machines/{{item.machineId}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->
	
	<p>&nbsp;</p>
	<div id="insert">
		<!-- form to INSERT new data into Machines-->
		<form id="insertMachine" action="/machines" method="post">
			<legend><strong>Add Machine</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="year">Year:</label>
				<input type="number" class="form-control" id="year" name="year" min="1900" max="2099" step="1" placeholder="" required>				
				
				<label for="make">Make:</label>
				<input type="text" class="form-control" id="make" name="make" pattern="[A-Za-z]{1,}" placeholder="" required>

				<label for="model">Model:</label>
				<input type="text" class="form-control" id="model" name="model" pattern="[A-Za-z0-9]{1,}" placeholder="" required>

				<label for="serial">Serial:</label>
				<input type="text" class="form-control" id="serial" name="serial" pattern="[A-Za-z0-9]{1,}" placeholder="" required>

				<label for="class">Class:</label>
				<input type="text" class="form-control" id="class" name="class" pattern="[A-Za-z0-9]{1,}" placeholder="" required>
            </fieldset>

            <!-- Create 'Add Machine' and 'Cancel' buttons -->
			<input type="submit" value="Add Machine" name="Add_Machine" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseMachines()"> 
        </form>
	</div><!--insert-->
	<div id="edit">
		<!-- form to edit data in Machines-->
		<form id="editMachine" action="/edit_machines/{{data[0].machineId}}" method="post">
			<legend><strong>Edit Machine</strong></legend>
			<fieldset>
				<input type="hidden" value="{{data[0].machineId}}" class="form-control" id="machineId" name="machineId" required>
				
				<label for="year">Year:</label>
				<input type="number" class="form-control" id="year" name="year" min="1900" max="2099" step="1" placeholder="{{data[0].year}}" required>

				<label for="make">Make:</label>
				<input type="text" class="form-control" id="make" name="make" pattern="[A-Za-z]{1,}" placeholder="{{data[0].make}}" required>				
				
				<label for="model">Model:</label>
				<input type="text" class="form-control" id="model" name="model" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].model}}" required>

				<label for="serial">Serial:</label>
				<input type="text" class="form-control" id="serial" name="serial" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].serial}}" required>

				<label for="class">Class:</label>
				<input type="text" class="form-control" id="class" name="class" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].class}}" required>
				
			</fieldset>
				<input class="btn" type="button" value="Cancel" onClick="browseMachines()" style="margin:.5rem;"> 
				

		</form>
	</div><!--edit-->
	<footer>
	<p> Project Step 4 Draft Version: Implement CRUD for One Entity</p>
		<p>[Juan Pablo Duque and Marco Scandroglio]</p>
	<!--Code Citation:-->
	<!--Date: 02/24/2023-->
	<!--Code adapted from Exploration 7 Course Content (Flask Starter App):--> 
	<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app-->
	</footer>
</body>
</html>
