<html>

<head>
	<title>Edit Mechanics</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>


<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption><strong>Editing Mechanic:</strong></caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in Machines-->
            <form id="editMechanic" action="/edit_mechanics/{{data[0].mechanicId}}" method="post">
                <legend><strong>Edit Mechanic</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].mechanicId}}" class="form-control" id="mechanicId" name="mechanicId" required>
                    
                    <label for="firstName">First Name:</label>
                    <input type="text" value="{{data[0].firstName}}" class="form-control" id="firstName" name="firstName" required>      

                    <label for="lastName">Last Name:</label>
                    <input type="text" value="{{data[0].lastName}}" class="form-control" id="lastName" name="lastName" required>	

                    <label for="phone">Phone:</label>
                    <input type="text" value="{{data[0].phone}}" class="form-control" id="phone" name="phone" required>
                        
                    <label for="email">Email:</label>
                    <input type="text" value ="{{data[0].email}}" class="form-control" id="email" name="email" required>
        
                </fieldset>
                <input type="submit" value="Edit Mechanic" name="Edit_Mechanic" class="btn btn-primary" style="margin:.5rem;">
                <a href='/mechanics' class='btn' style="margin:.5rem;">Cancel</a>
     
            </form>
	<footer>
	<p> Portfolio Project: database-driven website that records Products used on Work Orders performed on Machines by Mechanics in a specific Location.</p>
		<p>Introduction to Databases (CS340)</p>
		<p>[Juan Pablo Duque and Marco Scandroglio]</p>
	<!--Code Citation:-->
	<!--Date: 02/24/2023-->
	<!--Code adapted from Exploration 7 Course Content (Flask Starter App):--> 
	<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app-->
	</footer>
</body>
</html>
