<html>

<head>
	<title>Edit Machines</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Machine: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in Machines-->
            <form id="editMachine" action="/edit_machines/{{data[0].machineId}}" method="post">
                <legend><strong>Edit Machine</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].machineId}}" class="form-control" id="machineId" name="machineId" required>
                    
                    <label for="year">Year:</label>
                    <input type="number" value="{{data[0].year}}" class="form-control" id="year" name="year" min="1900" max="2099" step="1" required>      

                    <label for="make">Make:</label>
                    <input type="text" value="{{data[0].make}}" class="form-control" id="make" name="make" pattern="[A-Za-z0-9\(\)._\-\s]+{1,}" required>	

                    <label for="model">Model:</label>
                    <input type="text" value="{{data[0].model}}" class="form-control" id="model" name="model" pattern="[A-Za-z0-9\(\)._\-]+{1,}" required>
                        
                    <label for="serial">Serial:</label>
                    <input type="text" value ="{{data[0].serial}}" class="form-control" id="serial" name="serial" pattern="[A-Za-z0-9\(\)._\-]+{1,}" required>

                    <label for="class">Class:</label>
                    <input type="text" value ="{{data[0].class}}" class="form-control" id="class" name="class" pattern="[A-Za-z0-9\(\)._\-]+{1,}" required>           
                </fieldset>
                <input type="submit" value="Edit Machine" name="Edit_Machine" class="btn btn-primary" style="margin:.5rem;">
                <a href='/machines' class='btn' style="margin:.5rem;">Cancel</a>
            </form>
	<footer>
	<p> Portfolio Project: database-driven website that records Products used on Work Orders performed on Machines by Mechanics in a specific Location.</p>
		<p>Introduction to Databases (CS340)</p>
		<p>[Juan Pablo Duque and Marco Scandroglio]</p>
	<!--Code Citation:-->
	<!--Date: 02/24/2023-->
	<!--Code adapted from Exploration 7 Course Content (Flask Starter App):--> 
	<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app-->
	</footer>
</body>
</html>
