<html>

<head>
	<title>Work Order Product Details</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Work Order Products</h1>

    <div>
        {# if the table is empty display a message #}
        {% if message %}
            <p>{{ message }}</p>
        {% elif data %}
            <table border="1" cellpadding="5">
                <caption> Work Order Product Details: </caption>
                <!-- Access data tuple passed from app.py -->

                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        {% endfor %}

                        <th>Delete</th>

                    </tr>
                </thead>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                        <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

                                <!-- Create a <td> element with the value of that key in it -->
                                <td>{{item[key]}}</td>

                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
                            <td><a href="/productdetails/delete_product/{{item.workOrderProductId}}" class="btn btn-default">Delete</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>


	<p>&nbsp;</p>


    <div>

        <!-- form to INSERT new data into workOrders-->
        <form id="insertProduct" action="/productdetails/{{workOrderId}}" method="post">
            <legend><strong>Add Product to Work Order</strong></legend>
            <fieldset>
                <!-- placeholder shows ghost text, required forces an input -->
                <label for="make">reference:</label>
                <select class="form-control" id="reference" name="reference" placeholder="" required>
                <!-- these are hard coded, but you can add code to make this dynamic -->
                    <option value="1">REF001</option>
                    <option value="2">REF002</option>
                    <option value="3">REF003</option>
                </select>

            </fieldset>

            <!-- Create 'Add Product to Work Order' and 'Cancel' buttons -->
            <input type="submit" value="Add Product to Work Order" name="Add_Product" class="btn btn-primary" style="margin:.5rem;">
            <input class="btn" type="button" value="Cancel" onClick="browseWorkOrders()"> 
        </form>

	</div>	<!-- browse -->
	<footer>
	<p> Project Step 4 Draft Version: Implement CRUD for One Entity</p>
		<p>[Juan Pablo Duque and Marco Scandroglio]</p>
	<!--Code Citation:-->
	<!--Date: 02/24/2023-->
	<!--Code adapted from Exploration 7 Course Content (Flask Starter App):--> 
	<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app-->
	</footer>
</body>
</html>